<a href="https://colab.research.google.com/github/Dysuza/Datascience/blob/main/untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Write a Python program to accept a string value from the user and displaythe count of each character in that string Sample input: Enter a stringvalue: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1 #

In [ ]:
string = input ("enter the word")
for i in string:
    print(i,"=",string.count(i))

enter the wordAdith Biju
A = 1
d = 1
i = 2
t = 1
h = 1
  = 1
B = 1
i = 2
j = 1
u = 1

#. Write a Python function to find the maximum of three numbers Sample input: 34,12,7 Sample output: 34#

In [ ]:
a = int(input("enter the number A"))
b = int(input("enter the number B"))
c = int(input("enter the number C"))
result = max(a,b,c)
print(result)

enter the number A651
enter the number B5641
enter the number C6541
6541

#Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp. Sample input: Enter the base: 2 Enter the exponent: 3 Sample output: 8 #

In [ ]:
def exponent(base,exp):
  return base**exp

base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))
result = exponent(base,exp)
print(result)

Enter the base: 10
Enter the exponent: 45
1000000000000000000000000000000000000000000000

Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [ ]:
def sum_of_cubes(n):
  sum = 0
  for i in range(1, n):
    sum += i**3
  return sum

result = sum_of_cubes(4)
print(result)

36

Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [ ]:
for fizzbuzz in range(1,11):
  if fizzbuzz % 15 == 0:
    print("FizzBuzz")
    continue
  elif fizzbuzz % 3 == 0:
    print("Fizz")
    continue
  elif fizzbuzz % 5 == 0:
    print("Buzz")
    continue
  print(fizzbuzz)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [ ]:
def most_frequent(List):
  return max(set(List), key = List.count)

List = [2, 3, 4, 2, 5, 2]
print(most_frequent(List))

2

. Write a Python program to find the sum of squares of the numbers in a
list.

In [ ]:
def sum_of_squares(numbers):
  sum = 0
  for number in numbers:
    sum += number**2
  return sum

numbers = [1, 2, 3, 4, 5]
result = sum_of_squares(numbers)
print(result)

55

Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [ ]:
for i in range(1,16):
  if (i % 2 == 0):
    print(i,"-even")
  else:
    print(i,"-odd")

1 -odd
2 -even
3 -odd
4 -even
5 -odd
6 -even
7 -odd
8 -even
9 -odd
10 -even
11 -odd
12 -even
13 -odd
14 -even
15 -odd

Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [ ]:

def celsius_to_fahrenheit(celsius):
  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
  celsius = (fahrenheit - 32) * 5/9
  return celsius

fahrenheit = 41
celsius = fahrenheit_to_celsius(fahrenheit)
print("Temperature in Celsius =", celsius)

Temperature in Celsius = 5.0

Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

number = 3
result = factorial(number)
print(result)

6

Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
radius = float(input("Enter the radius: "))
area = (3.14) * radius**2
print("Area of Circle is", area)

Enter the radius: 23
Area of Circle is 1661.0600000000002

Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name = input("Enter the name: ")
roll_number = int(input("Enter the roll number: "))
mark = int(input("Enter the mark: "))

print("Name:", name)
print("Roll No:", roll_number)
print("Mark:", mark)

Enter the name: Adith
Enter the roll number: 003
Enter the mark: 45
Name: Adith
Roll No: 3
Mark: 45

Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [ ]:
def largest(arr):
  result = max(arr)
  return result

arr = [12, 3, 47, 10]
result = largest(arr)
print(result, "is the largest number.")

47 is the largest number.

Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:
previous_num = 0
for i in range(1, 11):
  sum = previous_num + i
  print("Current Number", i, "Previous Number", previous_num, "Sum:", sum)
  previous_num = i

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [ ]:
numbers = [10, 20, 33, 46, 55]
for number in numbers:
  if number % 5 == 0:
    print(number, end=" ")

10 20 55

Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [ ]:
num = int(input("Enter the number: "))

if num > 1:
  for i in range(2, int(num/2)+1):
    if (num % i) == 0:
      print(num, "is not a prime number")
      break
  else:
    print(num, "is a prime number")

else:
  print(num, "is not a prime number")

Enter the number: 54
54 is not a prime number

 Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [ ]:
def reverse_list(lst):
  reversed_lst = []
  for i in range(len(lst)-1, -1, -1):
    reversed_lst.append(lst[i])
  return reversed_lst

lst = [10, 40, 30, 70]
reversed_lst = reverse_list(lst)
print(reversed_lst)

[70, 30, 40, 10]

Write a Python program to print the following pattern.
*
**
***
****

In [ ]:
for i in range(1, 5):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****

Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [ ]:
a = int(input("enter the number A"))
b = int(input("enter the number B"))
c = int(input("enter the number C"))
result = max(a,b,c)
print(result)

enter the number A34
enter the number B12
enter the number C7
34

Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [ ]:
for i in range(1, 6):
  for j in range(i):
    print("*", end="")
  print()

for i in range(4, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****
****
***
**
*